.carousel{
    padding: 81px 0;
    &__inner{
        width: 750px;
        margin: 0 auto;
        position: relative;
    }
    .slick-prev,.slick-next{
        position: absolute;
        top: 50%;
        transform:translateX(-50%);
        left: -66px;
        border:none;
        background-color: #fff;
        img{
            width: 31px;
            height: 50px;
        }
    }
    .slick-next{
        left: auto;
        right: -66px;
    }

    .slick-dots{
        width: 200px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        li{
            list-style-type: none;
            border-radius: 100%;
            background-color: lightgray;
            margin: 0 10px;
            width: 24px;
            &.slick-active{
                background-color: gray;
                transition: 1s;
            }
            button{
                opacity: 0;
            }
        }
    }
    
}

